{% extends 'base.html.twig' %}

{% block title %}Metrics{% endblock %}

{% block body %}
<h1>Metrics</h1>

<div class="about-columns">
    <div class="about-text">
        <p>

        </p>
    </div>
</div>
{% endblock %}
