parameters:
    level: 9
    paths:
        - ../../config
        - ../../src
        - ../../tests
    bootstrapFiles:
        #- .phpstan.constants.php
    ignoreErrors:
        - '#Property App\\Entity\\Book::\$id \(int\|null\) is never assigned int#'