{% extends "base.html.twig" %}

{% block title %}Game doc{% endblock %}

{% block body %}
<h1>Game Documentation</h1>
<div class="body-section">
    <p>
    To create the card game 21, I will reuse the classes I developed in kmom02. These include the
    Card class for creating cards, the DeckOfCards class for managing the entire deck of cards,
    and the CardHand class for keeping track of the player's hand during the game. 
    I also plan to create a new class responsible for the game logic and calculating the points.
    </p>
        <img src="{{ asset('img/board.png') }}" alt="board" width="250px">
</div>
{% endblock %}