{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1>Game</h1>
<div class="body-section">
    <p>
    <a href="{{ path('game_doc') }}" class="btn btn-primary">Go to Documentation</a>
    </p>
</div>
{% endblock %}
