{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About</h1>

<div class="about-columns">
    <div class="about-text">
        <p>
            Kursen <strong>Objektorienterade webbteknologier (mvc)</strong> fokuserar på
            objektorienterade programmeringstekniker i PHP. Klassiska konstruktioner används
            tillsammans med ramverk, databaser och enhetstestning.
        </p>
    </div>
            <div class="about-links">
            <a href="https://github.com/dbwebb-se/mvc/tree/main/example/symfony" target="_blank">
                <i class="fas fa-book fa-lg"></i> Kursens GitHub-repo
            </a>
            <a href="https://github.com/simonking99/mvc" target="_blank">
                <i class="fab fa-github fa-lg"></i> Mitt GitHub-repo
            </a>
        </div>
</div>
{% endblock %}
