{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
<h1>Home</h1>
<div class="body-section">
    <p>
        Hej! Jag heter Simon Bosnjak och är en 25-årig webbprogrammeringsstudent 
        vid Blekinge Tekniska Högskola (BTH) i Karlskrona. Jag är en driven och nyfiken
        utvecklare med en passion för moderna teknologier och problemlösning.
        Utöver mina studier är jag aktiv inom fotbollen och spelar för Saxemara IF.
        Jag ser fram emot att ta examen nu till sommaren och fortsätta utvecklas både 
        som programmerare och fotbollsspelare.
    </p>
    <img src="{{ asset('img/simon.jpg') }}" alt="Simon Bosnjak">
</div>
{% endblock %}
