{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Magic number</h1>

    <div class="profile-section">
        <p>This is the current magic number: <strong>{{ number }}</strong></p>
    </div>
{% endblock %}
