{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Report</h1>

<div class="profile-section">
    <h2 id="kmom01">Kmom01</h2>
    <p>
        Jag har jobbat med objektorientering tidigare i Python. Jag känner till grunder som klasser,
        objekt och arv, men det var bra att fräscha upp allt igen nu i början av kursen.
    </p>
    <p>
        PHP fungerar som andra språk när det gäller klasser och objekt.
        Man skapar en klass med <code>class</code>, använder <code>new</code> för att skapa objekt och kan
        använda <code>__construct()</code> för att starta upp värden.
    </p>
    <p>
        Strukturen i me/report känns ganska tydlig efter att man vant sig. Symfony har många mappar och filer,
        men det känns ändå logiskt när man lär sig hur routing, controllers och templates fungerar tillsammans. 
        Jag gillar att det är uppdelat på detta vis.
    </p>
    <p>
        Jag tyckte artikeln PHP The Right Way var bra. Den gav en tydlig överblick över moderna verktyg och tekniker i PHP. 
        Jag tyctke det var intressant för hur Composer används för att hantera paket och beroenden.
        Jag blev också nyfiken på dependency injection då det verkar vara viktigt 
        i ramverk som Symfony.
    </p>
    <p>
        TIL – Jag lärde mig hur Symfony skapar routes automatiskt. Det var lite förvirrande i början eftersom mycket händer automatiskt, men nu börjar jag förstå hur det hänger ihop.
    </p>



    <h2 id="kmom02">Kmom02</h2>
    <p>
    </p>

    <h2 id="kmom03">Kmom03</h2>
    <p>
    </p>

    <h2 id="kmom04">Kmom04</h2>
    <p>
    </p>

    <h2 id="kmom05">Kmom05</h2>
    <p>
    </p>

    <h2 id="kmom06">Kmom06</h2>
    <p>
    </p>

    <h2 id="kmom10">Kmom10</h2>
    <p>
    </p>
</div>
{% endblock %}
