{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
<h1>Library</h1>

<div class="about-columns">
    <div class="about-text">
        <p>
            hejsan
        </p>
    </div>
</div>
{% endblock %}
