{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
<h1>Library</h1>

<div class="about-columns">
    <div class="about-text">
        <p>
            <a href="{{ path('library_books') }}" class="btn btn-primary">Show all books
            </a>
            <br>
            <a href="{{ path('library_create') }}" class="btn btn-primary">Add new book
            </a>
        </p>
    </div>
</div>
{% endblock %}
