{% extends 'base.html.twig' %}

{% block title %}API-landningssida{% endblock %}

{% block body %}
    <h1>API</h1>

    <p>Här är en översikt över de JSON API-routes du kan använda:</p>

{% endblock %}
