{% extends 'project_base.html.twig' %}

{% block title %}Blackjack – Startsida{% endblock %}

{% block body %}
<div class="blackjack-main">
    <div class="blackjack-start-wrapper">
        <h1>Welcome to the game Blackjack!</h1>
        <p>
            <a href="{{ path('proj_login') }}" class="btn-enter">
                Enter Game
            </a>
        </p>
    </div>
</div>
{% endblock %}
